
/**
 * Garland, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 */

body {
  /* Center layout */
  text-align: center;
  /* Allow text resizing */
  font-size: 80%;
}

#header-region, #wrapper #container {
  /* Reset text alignment */
  text-align: left; /* LTR */
}

#wrapper #container #center {
  /* Reduce amount of damage done by extremely wide content */
  overflow: hidden;
}

#wrapper #container #center .right-corner .left-corner {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 400px;
}

fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative; /* LTR */
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  position: relative;
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

tr.menu-disabled {
  /* Use filter to emulate CSS3 opacity */
  filter: alpha(opacity=50);
}

#header-region {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 0;
}

#wrapper #container #header {
  margin-bottom: -72px;
}

tr.taxonomy-term-preview {
  filter: alpha(opacity=50);
}

#attach-hide label, #uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}

ul.primary-links {
  padding-left: 242px;
  margin-left: 0;
  height: 50px;
  margin-top: -97px;
}

ul.primary-links li{
  margin-right: 1.5em; /* LTR */
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  margin: 0;
  padding: .65em 0 0; 
  font-weight: bold;
  text-decoration: none;
  background: none;
  color: #cde3f1;
}

ul.primary-links li a.active {
  background: url(images/bg-navigation.png) no-repeat center 0;
}

ul.primary-links li a:hover {
  color: #fff;
}

ul.secondary-links {
  height: 25px;
  padding: 0 3em 0 0; /* LTR */
  margin-top: -97px;
}

ul.secondary-links li{
  margin-left: 1.5em; /* LTR */
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  margin: 0;
  padding: .65em 0 0;
  text-decoration: none;
}

ul.secondary-links li a.active {
  background: url(images/nav_pointer.png) no-repeat center 0;
}

ul.secondary-links li a:hover {
  color: #fff;
}

body.sidebar-right #squeeze, body.sidebar-right #wrapper #container #header, body.two-sidebars #wrapper #container #header {layout.css?L (Linie 16)
padding-right: 150px;

}

#wrapper #container #center #squeeze {
  height: 100%;
}