#wrapper #container {
  padding: 0;
}

#wrapper #container #header {
  height: 25px;
  background: url(images/bg-header.png) repeat-x top;
}

body.sidebar-right #wrapper #container #header, body.two-sidebars #wrapper #container #header {
  margin-right: 210px;
}

#wrapper #container #header  #header-inner {
  height: 25px;
}

#wrapper #container #header  #header-inner #logo-floater {
  *position: relative;
  height: 67px;
  width: 210px;
  background: url(images/bg-header.png) repeat-x top;
}

#wrapper #container #header  #header-inner #logo-floater  #logo-floater-inner {
  height: 67px;
  padding-left: 30px;
  padding-top: 20px;
}

#wrapper #container #header  #header-inner #logo-floater  #logo-floater-inner  img#logo{
  float: left;
  margin-top: -13px;
  margin-right: 5px;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 32px;
  text-indent: 5px;
}

#wrapper #container #header h1 img {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0; /* LTR */
}

#wrapper #container #header h1 {
  font-size: 170% !important;
}

#wrapper #container #header h7, #wrapper #container #header img.h7 {
  display: none;
}

body.sidebar-right #center, body.two-sidebars #center {
  margin: 0 -210px; /* LTR */
}

body.sidebar-right #squeeze, body.two-sidebars #squeeze {
  margin: 0 210px;
}

body.no-sidebars #center, body.sidebar-left #center  {
  margin-left: -210px; /* LTR */

}

body.no-sidebars #squeeze, body.sidebar-left #squeeze {
  margin-left: 210px;
}

.sidebar{
  position: absolute;
  top: -18px;
  min-height: 366px;
}

#sidebar-left {
  right: 10px; /* LTR */
  min-height: 366px;
}

#sidebar-left .sidebar-inner { /* LTR */
  padding-top: 17px;
  padding-left: 48px; /* LTR */
  min-height: 366px;
}

#sidebar-right .sidebar-inner { /* LTR */
  padding-top: 17px;
  padding-left: 11px; /* LTR */
}

ul.primary-links {
  height: 25px;
  float: left; /* LTR */
  margin-left: 210px; /* LTR */
  padding-left: 2em; /* LTR */
  *margin-top: -67px;
}

ul.primary-links li{
  margin-right: 1.5em; /* LTR */
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  margin: 0;
  padding: .65em 0 0; 
  font-weight: bold;
  text-decoration: none;
  background: none;
  color: #cde3f1;
}

ul.primary-links li a.active {
  background: url(images/bg-navigation.png) no-repeat center 0;
}

ul.primary-links li a:hover {
  color: #fff;
}

ul.secondary-links {
  height: 25px;
  padding: 0 3em 0 0; /* LTR */
  *margin-top: -67px;
}

ul.secondary-links li{
  margin-left: 1.5em; /* LTR */
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  margin: 0;
  padding: .65em 0 0;
  text-decoration: none;
}

ul.secondary-links li a.active {
  background: url(images/nav_pointer.png) no-repeat center 0;
}

ul.secondary-links li a:hover {
  color: #fff;
}

#comments h3 {
  margin-top: -1.25em;
}

#comments img.h2 {
  margin-top: 12px;
  *margin-bottom: 5px;
}

#comments .author {
  // Add special styles for node author's comments' appearance here.
}

.comment {
  padding: 3em 25px;
}