   #wrapper #container {
        width: 75%;
      }
      body.sidebar-left #center, body.sidebar-left #footer, body.no-sidebars #center, body.sidebar-left #center {
        margin-left: -210px;
      }
      body.sidebar-right #center, body.sidebar-right #footer {
        margin-right: -210px;
      }
      body.two-sidebars #center, body.two-sidebars #footer, body.sidebar-right #center, body.two-sidebars #center {
        margin: 0 -210px;
      }
      body.sidebar-left #squeeze, body.no-sidebars #squeeze, body.sidebar-left #squeeze, ul.primary-links {
        margin-left: 210px;
      }
      body.sidebar-right #squeeze, body.sidebar-right #wrapper #container #header, body.two-sidebars #wrapper #container #header {
        margin-right: 210px;
      }
      body.two-sidebars #squeeze, body.sidebar-right #squeeze, body.two-sidebars #squeeze {
        margin: 0 210px;
      }
      #wrapper #container .sidebar, #wrapper #container #header  #header-inner #logo-floater {
        width: 210px;
      }