
/**
 * Garland, for Drupal 5.0
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net`
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

body, input, textarea, select {
  color: #000;
  background: none;
}

ul.primary-links, ul.secondary-links,
#header-region, .sidebar {
  display: none;
}

body.two-sidebars, body.sideber-left, body.sidebar-right, body {
  width: 640px;
}

body.sidebar-left #center, body.sidebar-right #center, body.two-sidebars #center,
body.sidebar-left #squeeze, body.sidebar-right #squeeze, body.two-sidebars #squeeze {
  margin: 0;
}

#wrapper,
#wrapper #container .breadcrumb,
#wrapper #container #center,
#wrapper #container #center .right-corner,
#wrapper #container #center .right-corner .left-corner,
#wrapper #container #footer,
#wrapper #container #center #squeeze {
  position: static;
  left: 0;
  padding: 0;
  margin: 0;
  width: auto;
  float: none;
  clear: both;
  background: none;
}

#wrapper #container #header {
  height: 90px;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  text-shadow: none;
  color: #000;
}

#wrapper #container #header img.h1 {
  display: none;
}

#wrapper #container #header h7 {
  display: block;
  margin-left: -32px;
  font-size: 250% !important;
  font-weight: bold;
}

#wrapper #container #header img.h7 {
  display: block;
  margin-left: -32px;
}

.breadcrumb {
  display: none;
}