#wrapper #container #header  #header-inner {
  background: url(images/thick/bg-header-right.png) no-repeat top right;
}

#wrapper #container #header  #header-inner #logo-floater  #logo-floater-inner {
  background: url(images/thick/bg-header-left.png) no-repeat top left;
}

#wrapper #container #center #squeeze {
  background: #fff url(images/thick/bg-content.png) repeat-x 50% 0;
}

#wrapper #container #center .right-corner {
  background: transparent url(images/thick/bg-content-right.png) no-repeat 100% 0;
}

#wrapper #container #center .right-corner .left-corner {
  background: transparent url(images/thick/bg-content-left.png) no-repeat 0 0;
}

#wrapper #container .breadcrumb {
  top: 16px;
}

#sidebar-left {
  background: url(images/thick/bg-sidebar.png) repeat-x 16px 0; /* LTR */
}

#sidebar-left .sidebar-inner { /* LTR */
  background: url(images/thick/bg-sidebar-left.png) no-repeat 0 0; /* LTR */
}